%h3.page-title
  事务
  %span.pull-right #{@issues.total_count} 个事务

%p.light
  您可以在这里查看所有项目的事务.
%hr

.row
  .col-md-3
    = render 'shared/filter', entity: 'issue'
  .col-md-9
    = render 'shared/issues'
