%h3.page-title
  合并请求
  %span.pull-right #{@merge_requests.total_count} 个合并请求


%p.light
  您可以访问所有的项目的合并请求都在这里显示.
%hr
.row
  .col-md-3
    = render 'shared/filter', entity: 'merge_request'
  .col-md-9
    = render 'shared/merge_requests'
