%h3.page-title
  公共的代码片段

  .pull-right
    = link_to new_snippet_path, class: "btn btn-new btn-grouped", title: "新建代码片段" do
      新建代码片段
    = link_to user_snippets_path(current_user), class: "btn btn-grouped"  do
      我的代码片段

%p.light
  您和其他用户创建的公共片段都显示在这里

%hr
= render 'snippets'

