%h3.page-title
  我的 SSH 公钥
  .pull-right
    = link_to "添加 SSH 公钥", new_profile_key_path, class: "btn btn-new"
%p.light
  SSH 公钥, 是用于建立您的电脑与GitLab之间的安全连接
  %br
  如果您没有 SSH 密钥, 请参考
  = link_to "如何生成 SSH 密钥", help_ssh_path
%hr


.ui-box
  .title
    SSH 公钥 (#{@keys.count})
  %ul.well-list#keys-table
    = render @keys
    - if @keys.blank?
      %li
        .nothing-here-block There are no SSH keys with access to your account.


