%h3.page-title 添加 SSH 公钥
%p.light
  在这里贴上您的公钥. 了解更多关于 #{link_to "如何生成 SSH 密钥", help_ssh_path}
%hr
= render 'form'

:javascript
  $('#key_key').on('keyup', function(){
    var title = $('#key_title'),
        val      = $('#key_key').val(),
        key_mail = val.match(/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+|\.[a-zA-Z0-9._-]+)/gi);

    if( key_mail && key_mail.length > 0 && title.val() == '' ){
      $('#key_title').val( key_mail );
    }
  });
