.event_filter
  = event_filter_link EventFilter.push, '推送'
  = event_filter_link EventFilter.merged, '合并'
  = event_filter_link EventFilter.comments, '提交'
  = event_filter_link EventFilter.team, '团队'
