- if @merge_request_diff.collected?
  = render "projects/commits/diffs", diffs: @merge_request.diffs, project: @merge_request.source_project
- elsif @merge_request_diff.empty?
  .nothing-here-block Nothing to merge from #{@merge_request.source_branch} into #{@merge_request.target_branch}
- else
  .bs-callout.bs-callout-warning
    %h4
      此更改非常大, 无法通过Web显示.
    %p
      您可以下载
      = link_to "下载", project_merge_request_path(@merge_request.target_project, @merge_request, format: :diff), class: "vlink"
      这此差异.
