- if @source_branch.blank?
  源分支已被删除

- elsif @allowed_to_remove_source_branch && @merge_request.merged?
  .remove_source_branch_widget
    %p 更改已合并到 #{@merge_request.target_branch} 分支. 您现在可以删除源分支
    = link_to project_branch_path(@merge_request.source_project, @source_branch), remote: true, method: :delete, class: "btn btn-primary btn-small remove_source_branch" do
      %i.icon-remove
      删除源分支

  .remove_source_branch_widget.failed.hide
    未能删除源分支 '#{@merge_request.source_branch}'

  .remove_source_branch_in_progress.hide
    %i.icon-refresh.icon-spin
    &nbsp;
    删除源分支 '#{@merge_request.source_branch}'. 请稍候, 页面将会自动重新加载. &nbsp;
